@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

.footer-text {
    text-align: center;
    color: #868e96;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
  }
  
  .footer-div {
    margin-top: 2rem;
  }